*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*DESKTOP*/

@media only screen and (min-width: 1200px) {

    .errors{
        margin-top: 1em;
        margin-bottom: 2em;
        text-align: center;
        color: #c80000;
    }


    /*If stock was not selected*/
    .containerEmpty{

        font-family: 'Inter', sans-serif;
        margin: 0;
        padding:0;
        color: white;
    }

    .containerEmpty section{
        width:100%;
    }

    .containerEmpty section:first-of-type{

       background-image: url('./background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 0;
        min-height: 100vh;
    }

    .containerEmpty section:first-of-type h1{
        color: white;
        font-weight: 500;
        font-size: 4em;
        padding-top: 3em;
        text-align: center;
        margin-bottom: 0.2em;
    }

    .containerEmpty section:first-of-type h2{
        font-weight: 300;
        text-align: center;
        
    }

    .containerEmpty form {

        margin: 6em auto 0;
        display: block;
        width:60%;
    }
    .containerEmpty form div{

        font-size: 2em;
        display: inline;
        margin: 0 1em;
        color: white;

    }
    .containerEmpty form div:first-of-type{
        margin-left: 6em;
    }

    .containerEmpty section:first-of-type p{
        color: white;
        text-align: center;
        line-height: 2;
    }

    .containerEmpty section:first-of-type p:first-of-type{
        margin-top: 15%;
    }

    .containerEmpty section:first-of-type p a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: 1s;
    }

    .containerEmpty section:first-of-type p a:hover{
        font-size: 1.1em;
        transition: 2s;
    }



    /*If stock was selected*/
    .containerFull{

        display: flex;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;
        min-height: 98vh;
        margin: 0;
        padding:0;
  
    }

    .containerFull section{
        width:50%;
    }


    .containerFull section:first-of-type{

        background-image: url('./background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 0;
    }



    .containerFull section:first-of-type h1{
        color: white;
        font-weight: 500;
        font-size: 4em;
        padding-top: 3em;
        text-align: center;
        margin-bottom: 0.2em;
    }

    .containerFull section:first-of-type h2{
        font-weight: 300;
        color: white;
        text-align: center;
        margin-bottom: 3em;
    }

    .containerFull form div:first-of-type{
        font-size: 2em;
        margin-left: 5em;
        display: inline;
        color: white;
    }

    .containerFull form div{
        margin-right: 1em;
        font-size: 2em;
        display: inline;
        color: white;
    }

     form div input[type="radio"]{
        transform: scale(1.5);
        margin: 0 0.5em;
        cursor: pointer;
    }

    form input[type="submit"]{
        display: block;
        margin: 5em auto 0;
        padding: 0.9em 3em;
        background-color: #ffffff;
        color: rgb(71, 64, 64);
        font-size: 1.2em;
        border-radius:10px;
        cursor: pointer;
        font-weight: 500;
    }
     form input[type="submit"]:hover{

        background-color: #6f028a;
        margin: 5em auto 0;
        padding: 0.9em 3em;
        border-radius:10px;
        color: white;
    }

    .containerFull section:first-of-type p{
        color: white;
        line-height: 2;
        text-align: center;
    }

    .containerFull section:first-of-type p:first-of-type{
        margin-top: 35%;
    }

    .containerFull section:first-of-type p a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: 1s;
    }

    .containerFull section:first-of-type p a:hover{
        font-size: 1.1em;
        transition: 2s;
    }

    /*INITIAL STOCK SECTION*/


    /*STOCK SECTION*/
    .stockData{
        margin-top: 10em;
    }
    .stockData h2{
        text-align: center;
        
    }

    .stockData h4{
        text-align: center;
        
    }

    .todayStock{
        margin: 2em auto;
        display: flex;
        justify-content: space-evenly;
    }

    .todayStock p{
        margin: 0 1em 0 0;
    }

    .graphData{
        text-align: center;
    }

    .graphImages{
        width:600px;
        height: 650px;
    }

}